/* Place custom css here. */
*,
::before,
::after {

  --cv-shadow-color: rgb(0 0 0 / 0.8);
}

/* Place custom css here. */
*,
::before,
::after {
  --tw-max-width: 10rem;
  --tw-cv-optimal-width: 580px;
  --tw-cv-logo-width: 100px;
}


